// Colors Utilities
$primary-color: #17a2b8;
$dark-color: #343a40;
$grey-color: #84878a;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$danger-light-color: #f05160;
$success-color: #28a745;
$max-width: 90%;
$width: 70%;
$box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .25);


// Break Point
// Smart Phone
$sm-bp: 568px;
$md-bp: 768px;
$lg-bp: 1100px;
// $lg-bp: 736px;
